.article {
  display: flex;
  flex-direction: row;
  @media (max-width: $tablet-width) {
    margin-bottom: 50px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 40px;
    flex-direction: column;
  }
}

.article--big {
  position: relative;
  grid-column: 2/3;
  grid-row: 1/3;
}

.article__article {
  text-align: center;
  flex-grow: 2;
  background-color: $sand;
}

.article__article--power {
  order: -2;
  @media (max-width: $mobile-width) {
    order: 1;
  }
}

.article__img-wrapper img {
  @media (max-width: $tablet-width) {
    width: 100%;
    height: 300px;
  }

  @media (max-width: $mobile-width) {
    height: 256px;
  }
}

.article__img-wrapper {
  @media (max-width: $tablet-width) {
    width: 50%;
  }
  @media (max-width: $mobile-width) {
    width: 100%;
  }
}

.article__img-wrapper--big {
  width: 100%;
  @media (max-width: $tablet-width) {
    width: 50%;
  }
  @media (max-width: $mobile-width) {
    width: 100%;
  }
}

.article__article--big {
  position: absolute;
  width: 285px;
  height: 300px;
  bottom: 0px;
  right: 0px;
  @media (max-width: $tablet-width) {
    position: unset;
    height: 300px;
    width: 50%;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
  }
}

.article__article span {
  color: $grey1;
  font-size: 14px;
  line-height: 18px;
  margin-top: 70px;
  display: block;
  @media (max-width: $mobile-width) {
    margin-top: 50px;
  }
}

.article__article h3 {
  font-family: "Cormorant Garamond", Arial, sans-serif;
  font-weight: 600;
  font-size: 26px;
  line-height: 34px;
}

.article__article a {
  font-size: 16px;
  display: block;
  width: fit-content;
  margin: 0 auto;
  position: relative;

  @media (max-width: $mobile-width) {
    margin-bottom: 55px;
  }
}

.article__article a::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: $brown-light;
  position: absolute;
  bottom: 1px;
  left: 0px;
}
