.card {
  max-width: 270px;
  @media (max-width: $tablet-width) {
    max-width: 324px;
  }

  @media (max-width: $mobile-width) {
    width: min-content;
  }
}

.card--catalog {
  @media (max-width: $tablet-width) {
    max-width: 206px;
  }

  @media (max-width: $mobile-width) {
    width: min-content;
  }
}

.card__img-wrapper {
  @media (max-width: $tablet-width) {
    width: 324px;
    height: 340px;
  }

  @media (max-width: $mobile-width) {
    width: 130px;
    height: 136px;
  }

}


.card__img-wrapper--catalog {

  width: 100%;
  height: 272px;
  @media (max-width: $tablet-width) {
    width: 206px;
    height: 208px;
  }

  @media (max-width: $mobile-width) {
    width: 130px;
    height: 136px;
  }
}

.card__img-wrapper--catalog img {
  height: 100%;
}

.card img {
  width: 100%;
  height: 100%;
}

.card p {
  margin: 0;
  text-align: center;
  padding-top: 24px;
  padding-bottom: 7px;

  @media (max-width: $mobile-width) {
    width: 130px;
    font-size: 16px;
    line-height: 21px;
  }
  @media (max-width: $mobile-width) {
    padding-top: 15px;
    padding-bottom: 8px;
  }
}

.card span {
  display: block;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  text-align: center;
}
