.questions {
  padding: 120px 0 108px;

  @media (max-width: $tablet-width) {
    padding: 20px 45px 75px;
  }

  @media (max-width: $mobile-width) {
    padding: 20px 15px 60px;
  }
}

.questions h2 {
  font-family: "Cormorant Garamond", "Helvetica", sans-serif;
  margin-top: 0;
  margin-bottom: 49px;
  text-align: center;
  font-size: 34px;
  line-height: 44px;
  letter-spacing: 0.03em;

  @media (max-width: $mobile-width) {
    margin-bottom: 30px;
  }

}

.questions h3 {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  cursor: pointer;
  font-weight: 500;
  @media (max-width: $mobile-width) {
    font-size: 16px;
    line-height: 22px;
  }

}

.questions__icon {
  display: block;
  width:17px;
  height: 10px;
  position: absolute;
  right: 50px;
  top: 50px;
  @media (max-width: $mobile-width) {
    right: 25px;
    top: 25px;
  }
}

.questions__icon--closed {
  background-image: url("../../img/icon-arrow-down.svg");
}

.questions__icon--opened {
  background-image: url("../../img/icon-arrow-up.svg");
}

.questions__list {
  list-style: none;
  padding: 0;
  border: 1px solid $brown;
  width: 970px;
  margin: 0 auto;

  @media (max-width: $tablet-width) {
    width: 100%;
  }
}

.questions__item {
  position: relative;
  border-bottom: 1px solid $brown;
  padding-left: 40px;
  padding-top: 42px;
  padding-bottom: 43px;

  @media (max-width: $tablet-width) {
    padding-left: 50px;
    padding-right: 80px;
  }

  @media (max-width: $mobile-width) {
    padding: 15px 45px 17px 25px;
  }
}

.questions__answer {
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 0;
  font-weight: 400;
  padding-left: 7px;
  margin-top: 7px;
  padding-right: 400px;

  @media (max-width: $tablet-width) {
    margin-top: 25px;
    padding-left: 0;
  }

  @media (max-width: $mobile-width) {
    font-size: 14px;
    line-height: 20px;
    margin-top: 15px;
  }

}

.questions__answer--closed {
  display: none;
}

.questions__text {
  @media (max-width: $mobile-width) {
    padding-right: 35px
  }
}

.questions__item--deliver, .questions__item--payment, .questions__item--return {
  @media (max-width: $mobile-width) {
    padding-bottom: 20px;
    padding-top: 17px;
  }

}

.questions__item--deliver h3, .questions__item--payment h3, .questions__item--return h3 {

  @media (max-width: $mobile-width) {
    padding-right: 0;
  }
}
