@font-face {
  font-family: "Poppins";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/poppins-regular.woff2"),
        url("../fonts/poppins-regular.woff"),
}

@font-face {
  font-family: "Poppins";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/poppins-medium.woff2"),
        url("../fonts/poppins-medium.woff");
}

@font-face {
  font-family: "Poppins";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/poppins-SemiBold.woff2"),
        url("../fonts/poppins-SemiBold.woff");
}

@font-face {
  font-family: "Poppins";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/poppins-Bold.woff2"),
        url("../fonts/poppins-Bold.woff");
}

@font-face {
  font-family: "Cormorant Garamond";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/CormorantGaramond-regular.woff2"),
        url("../fonts/CormorantGaramond-regular.woff");
}

@font-face {
  font-family: "Cormorant Garamond";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/CormorantGaramond-medium.woff2"),
        url("../fonts/CormorantGaramond-medium.woff");
}

@font-face {
  font-family: "Cormorant Garamond";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/CormorantGaramond-SemiBold.woff2"),
        url("../fonts/CormorantGaramond-SemiBold.woff");
}

@font-face {
  font-family: "Cormorant Garamond";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/CormorantGaramond-bold.woff2"),
        url("../fonts/CormorantGaramond-bold.woff");
}

@font-face {
  font-family: "Cormorant Garamond";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("../fonts/CormorantGaramond-italic.woff2"),
        url("../fonts/CormorantGaramond-italic.woff");
}
