@font-face {
  font-family: "Poppins";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/poppins-regular.woff"),
        url("/fonts/poppins-regular.woff2");
}

@font-face {
  font-family: "Poppins";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/poppins-medium.woff"),
        url("/fonts/poppins-medium.woff2");
}

@font-face {
  font-family: "Poppins";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/poppins-SemiBold.woff"),
        url("/fonts/poppins-SemiBold.woff2");
}

@font-face {
  font-family: "Poppins";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/poppins-Bold.woff"),
        url("/fonts/poppins-Bold.woff2");
}

@font-face {
  font-family: "Cormorant Garamond";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/CormorantGaramond-regular.woff"),
        url("/fonts/CormorantGaramond-regular.woff2");
}

@font-face {
  font-family: "Cormorant Garamond";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/CormorantGaramond-medium.woff"),
        url("/fonts/CormorantGaramond-medium.woff2");
}

@font-face {
  font-family: "Cormorant Garamond";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/CormorantGaramond-SemiBold.woff"),
        url("/fonts/CormorantGaramond-SemiBold.woff2");
}

@font-face {
  font-family: "Cormorant Garamond";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/CormorantGaramond-bold.woff"),
        url("/fonts/CormorantGaramond-bold.woff2");
}

@font-face {
  font-family: "Cormorant Garamond";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("../fonts/CormorantGaramond-italic.woff"),
        url("/fonts/CormorantGaramond-italic.woff2");
}
