@font-face {
  font-family: "Poppins";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/poppins-regular.woff2"),
        url("../fonts/poppins-regular.woff"),
}

@font-face {
  font-family: "Poppins";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/poppins-medium.woff2"),
        url("../fonts/poppins-medium.woff");
}

@font-face {
  font-family: "Poppins";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/poppins-semibold.woff2"),
        url("../fonts/poppins-semibold.woff");
}

@font-face {
  font-family: "Poppins";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/poppins-bold.woff2"),
        url("../fonts/poppins-bold.woff");
}

@font-face {
  font-family: "Cormorant Garamond";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/cormorantgaramond-regular.woff2"),
        url("../fonts/cormorantgaramond-regular.woff");
}

@font-face {
  font-family: "Cormorant Garamond";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/cormorantgaramond-medium.woff2"),
        url("../fonts/cormorantgaramond-medium.woff");
}

@font-face {
  font-family: "Cormorant Garamond";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/cormorantgaramond-semibold.woff2"),
        url("../fonts/cormorantgaramond-semibold.woff");
}

@font-face {
  font-family: "Cormorant Garamond";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/cormorantgaramond-bold.woff2"),
        url("../fonts/cormorantgaramond-bold.woff");
}

@font-face {
  font-family: "Cormorant Garamond";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("../fonts/cormorantgaramond-italic.woff2"),
        url("../fonts/cormorantgaramond-italic.woff");
}
