.swiper-prev {
  width: 29px;
  height: 9px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.swiper-next {
  width: 29px;
  height: 9px;
  position: absolute;
  top: 0px;
  right: 0px;

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.swiper-button-disabled {
  opacity: 0.3;
}

.swiper-wrapper {
  margin-bottom: 0px;
}

.swiper-pagination {
  position: unset;
}

.swiper-pagination-bullet {
  font-size: 16px;
  line-height: 21px;
  background: transparent;
}
