$desktop-width: 1366px;
$tablet-width: 1023px;
$mobile-width: 767px;
$mobile-min: 320px;
$content: 1170px;

// colors

$light-grey: #F6F5F4;
$grey1: #9B9997;
$white: #FFFFFF;
$brown-transparent: rgba(86, 64, 52, 0.7);
$brown-light: #A87B62;
$black: #1D1613;
$sand: #F0EAE4;
$brown: #A87B62;
$search-transparent: rgba(255, 255, 255, 0.15);
$footer-black: #000000;



